body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
    width: auto;
    padding: 10px;
    background-image: url('./background.jpg');
   
}

.box-ctn{
  margin-bottom: 10px;
  background-color: rgba(19, 11, 11, 0.4);
  height: 400px;
}

.box-ctn-title{
    margin-bottom: 10px;
    background-color: rgba(19, 11, 11, 0.4);
    color: white;
    font-size: 32px;
    text-align: center;
}
.inputs{
    color: white;
    padding: 10px;
}
.id-edad{
    margin-top:10px;
    width:40%;
    float: left;
}
.borrar{
    margin-right:10px;
}
.table-ctn{
    background-color: rgba(255, 255, 255, 0.4); 
}
.filtro-prom{
    padding-top: 10px;
    color:white;
}
.not-found{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:-60px;
    margin: auto;
    height: 0;
    width: 200px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
}